/* || RESET */


* {
    margin: 0;
}

/* || VARIABLES */

/* || UTILITY CLASSES */

/* || GENERAL STYLES */


body {
    background-color: #1F2039;
}

section {
    padding: 80px;
}

a {
    color: #1F2039;
    text-decoration: none;
}

/* || BLOCKS */


.header {
    background-color: #FFFFFF;
    color: #242424;
    padding: 20px 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.about {
    padding: 80px;
    width: 668px;
}

.gallery {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0;
}

.cta {
    display: inline-block;
}

.footer {
    background-color: #FFFFFF;
    color: #242424;
    padding: 20px 50px;
}

/* || ELEMENTS */


.nav__link {
    color: #1F2039;
    font-family: Manrope;
    font-size: 18px;
    margin-left: 130px;
}

.nav__link:hover {
    text-decoration: underline;
}

.intro__title {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 20px;
}

.intro__text {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 46px;
}

.cta__button {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    text-transform: uppercase;
    background: linear-gradient(#8e86b5, #acaeed);
    border: none;
    border-radius: 50px;
    padding: 20px 30px;
}

.cta__button:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}

.about__title {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 400;
}

.about__description {
    position: relative; /* Necessary for the absolute positioning of child elements */
    padding: 101px 77px 75px 75px;
}

.about__text {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 16px;
}

.about__subtitle {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.about__list {
    margin-top: 30px;
}

.about__list-item {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 16px;
}

.gallery__container {
    max-width: 1008px;
    margin: 0 auto;
    padding: 80px;
}

.gallery__content {
    display: grid;
    grid-template-columns: 326px 326px 326px;
    grid-template-rows: 311px 311px;
    gap: 15px;
    width: 100%;
}

.gallery__subtitle {
    color: #1F2039;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 66px;
}

.gallery__item {
    position: relative;
    display: inline-block;
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    display: flex;
    align-items: center; /* Vertically centers the text */
    justify-content: center; /* Horizontally centers the text */
    font-size: 1.5em;
    font-family: Montserrat;
    font-weight: 500;
    color: white;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent background */
    opacity: 0; /* Text is initially invisible */
    transition: background-color 1s ease, opacity 1s ease; /* Transition for background and opacity */
}

.gallery__item:hover .gallery__text {
    background-color: rgba(0, 0, 0, 0.4); /* Dark background on hover */
    opacity: 1; /* Make text visible */
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-icon {
    margin-left: 30px;
}

.footer__social-icon:hover {
    opacity: 0.5;
}

/* || Modifiers */

.main--a-propos {
    width: 50%;
    margin: auto;
}

.intro--portfolio {
    max-width: 1008px;
    margin: 0 auto;
    text-align: left;
}

.gallery__container--landscape {
    max-width: 1008px;
    margin: 0 auto;
    padding: 53px 80px;
}

.gallery__content--landscape {
    display: grid;
    grid-template-columns: 326px 326px 326px;
    grid-template-rows: 311px 311px 311px;
    gap: 15px;
    width: 100%;
}

.gallery__container--portrait {
    max-width: 1008px;
    margin: 0 auto;
    padding: 0px 80px 53px 80px;
}

.gallery__subtitle--portrait,
.gallery__subtitle--landscape {
    text-align: left;
    margin-bottom: 53px;
    color: #1F2039;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
}

.gallery__image--intro {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about__description-border--right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 407px;
    width: 1px;
    background-color: #A5B4FC;
}

.about__description-border--bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 315px;
    height: 1px;
    background-color: #A5B4FC;
}

.cta--about {
    margin-top: 80px;
    margin-left: 246px
}