h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.1em;
    font-family: 'Manrope', sans-serif;
}

ul {
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
}

em {
    color: #A5B4FC;
    font-style: normal;
}



