/* || RESET */


* {
    margin: 0;
}

/* || VARIABLES */

/* || UTILITY CLASSES */

/* || GENERAL STYLES */


body {
    background-color: #1F2039;
}

section {
    padding: 80px;
}

a {
    color: #1F2039;
    text-decoration: none;
}

/* || BLOCKS */


.header {
    background-color: #FFFFFF;
    color: #242424;
    padding: 20px 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.gallery {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0;
}

.footer {
    background-color: #FFFFFF;
    color: #242424;
    padding: 20px 50px;
}

/* || ELEMENTS */


.nav__link {
    color: #1F2039;
    font-family: Manrope;
    font-size: 18px;
    margin-left: 130px;
}

.nav__link:hover {
    text-decoration: underline;
}

.intro__title {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 20px;
}

.intro__text {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 46px;
}

.cta__link {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    text-transform: uppercase;
}

.about__title {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 400;
}

.about__description {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
}

.about__text {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 16px;
}

.about__subtitle {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.about__list {
    margin-top: 30px;
}

.about__list-item {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 16px;
}

.gallery__container {
    max-width: 1008px;
    margin: 0 auto;
    padding: 80px;
}

.gallery__content {
    display: grid;
    grid-template-columns: 326px 326px 326px;
    grid-template-rows: 311px 311px;
    gap: 15px;
    width: 100%;
}

.gallery__subtitle {
    color: #1F2039;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 66px;
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-icon {
    margin-left: 30px;
}

.footer__social-icon:hover {
    opacity: 0.5;
}

/* || Modifiers */

.main--a-propos {
    width: 50%;
    margin: auto;
}

.intro--portfolio {
    max-width: 1008px;
    margin: 0 auto;
    text-align: left;
}

.gallery__container--landscape {
    max-width: 1008px;
    margin: 0 auto;
    padding: 53px 80px;
}

.gallery__container--portrait {
    max-width: 1008px;
    margin: 0 auto;
    padding: 0px 80px 53px 80px;
}

.gallery__subtitle--portrait,
.gallery__subtitle--landscape {
    text-align: left;
    margin-bottom: 53px;
    color: #1F2039;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
}