.about {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 668px;
    margin-inline: auto;
}

.about__container {
    position: relative;
    padding: 101px 77px 75px 75px;
    margin-bottom: 30px;
}

.about__text {
    color: var(--color-text);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-base);
}

.about__list {
    margin-top: 30px;
}

.about__list-item {
    color: var(--color-text);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-base);
}

.about__border--right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 407px;
    width: 1px;
    background-color: var(--color-secondary);
}

.about__border--bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 315px;
    height: 1px;
    background-color: var(--color-secondary);
}