.about {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 668px;
    margin-inline: auto;
}

.about__title {
    padding-inline-start: 20px;
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 400;
}

.about__container {
    position: relative;
    padding: 101px 77px 75px 75px;
    margin-bottom: 30px;
}

.about__text {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 16px;
}

.about__subtitle {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

.about__list {
    margin-top: 30px;
}

.about__list-item {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 16px;
}

.about__border--right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 407px;
    width: 1px;
    background-color: #A5B4FC;
}

.about__border--bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 315px;
    height: 1px;
    background-color: #A5B4FC;
}