/* || RESET */

* {
    margin: 0;
}


/* || GENERAL STYLES */

.page {
    background-color: #1F2039;
}



.gallery {
    background-color: #FFFFFF;
    width: 100%;
    padding: 0;
}

.gallery__container {
    max-width: 1008px;
    margin: 0 auto;
    padding: 80px;
}

.gallery__subtitle {
    color: #1F2039;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 66px;
}

.gallery__content {
    display: grid;
    grid-template-columns: 326px 326px 326px;
    grid-template-rows: 311px 311px;
    gap: 15px;
    width: 100%;
}

.gallery__item {
    position: relative;
    display: inline-block;
}

.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: Montserrat;
    font-weight: 500;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: background-color 1s ease, opacity 1s ease;
}

.gallery__item:hover .gallery__text {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}


.footer {
    background-color: #FFFFFF;
    color: #242424;
    padding: 20px 50px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-icon {
    margin-left: 30px;
}

.footer__social-icon:hover {
    opacity: 0.5;
}