/* button.css */

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 47px;
}

.button {
    padding: 15px 25px;
    border-radius: 50px;
    border: none;
    color: var(--color-text);
    font-family: Montserrat;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    background: linear-gradient(#8e86b5, #acaeed);
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}