.footer {
    padding: 1.25rem 3.125rem;
    background-color: var(--color-accent);
    color: var(--color-text-inverse);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
}

.footer__social-icon:hover {
    opacity: 0.5;
}

@media (max-width: 375px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }

    .footer__social {
        display: flex;
        flex-direction: column;
    }

    .footer__logo-img {
        width: 3.5625rem;
        height: 1.875rem;
    }
}