.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 33rem;
    margin: 0 auto;
    padding: 4rem 1rem 12rem 1rem;
    color: var(--color-accent);
}

.form__title-wrapper {
    margin-bottom: 3rem;
    text-align: center;
}

.form__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    color: var(--color-secondary);
}

.form__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;
    width: 100%;
}

.form__field, 
.form__field-large {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

.form__field-large {
    margin-bottom: 3rem;
    grid-column: 1 / -1;
}

.form__input,
.form__textarea {
    padding: 1rem;
    width: 100%;
    border-radius: 3px;
    border: none;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-base);
    color: var(--color-text-inverse);
}

.form__textarea {
    height: 10rem;
}

.form__label {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-md);
    color: var(--color-accent);
    margin-bottom: 1rem;
}