.form {
    display: flex;
    flex-direction: column;
    width: 525px;
    margin: auto;
    margin-bottom: 194px;
    color: var(--color-accent);
}

.form__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 3.5px;
}

.form__field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__input {
    padding: 15px;
    border-radius: 3px;
    border: none;
}

.form__textarea {
    height: 177px;
    padding: 15px;
    border-radius: 3px;
    border: none;
}

.form__label {
    color: var(--color-accent);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-md);
    margin-bottom: 10px;
}

.form__field-large {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}