.gallery {
    width: 100%;
    background-color: var(--color-accent);
}

.gallery__container {
    padding: 80px;
    margin: 0 auto;
    max-width: 1008px;
}

.gallery__title-wrapper {
    margin-bottom: 60px;
    text-align: center;
}

.gallery__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    color: var(--color-primary);
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(3, 326px);
    grid-template-rows: repeat(2, 311px);
    gap: 15px;
    width: 100%;
}

.gallery__item {
    position: relative;
}


/* Modifiers */

.gallery--landscape .gallery__container {
    padding: 53px 80px;
}

.gallery--landscape .gallery__title {
    margin-bottom: 53px;
    text-align: left;
    font-family: var(--font-family-secondary);
}

.gallery--landscape .gallery__grid {
    grid-template-rows: repeat(3, 311px);
}

.gallery--portrait .gallery__container {
    padding: 0px 80px 53px 80px;
}

.gallery--portrait .gallery__title {
    margin-bottom: 53px;
    text-align: left;
    font-family: var(--font-family-secondary);  
}

/* -------------------------------------- */


.gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color-text);
    background-color: rgba(0, 0, 0, 0);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    opacity: 0;
    transition: background-color 1s ease, opacity 1s ease;
}

.gallery__item:hover .gallery__text {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}