/* title */

.title {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-normal);
}

.service-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1040px;
    margin: 0 auto;
    margin-top: 146px;
    margin-bottom: 112px;
}

.portfolio-title-wrapper {
    max-width: 1008px;
    margin: 0 auto;
    text-align: left;
    padding: 80px;
}

/* Modifier for title */

.title--intro {
    margin-bottom: 20px;
}

.title--about {
    padding-inline-start: 20px;
    margin-bottom: 0px;
}

/* ---------------------------- */

/* subtitle */

.subtitle {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
}

/* Modifier for subtitle */

.subtitle--gallery-home {
    margin-bottom: 66px;
    text-align: center;
}

.subtitle--form {
    margin-top: 65px;
    margin-bottom: 52px;
    text-align: center;
    color: var(--color-secondary);
}

.subtitle--about {
    margin-top: 30px;
    color: var(--color-text);
    font-family: var(--font-family-secondary);
}

.subtitle--info-table {
    margin-bottom: 38px;
    color: var(--color-secondary);
}

.subtitle--gallery-landscape {
    margin-bottom: 53px;
    text-align: left;
    font-family: var(--font-family-secondary);
}

.subtitle--gallery-portrait {
    margin-bottom: 53px;
    text-align: left;
    font-family: var(--font-family-secondary);
}