/* header.css */

.header {
    padding: 1.25rem 3.125rem;
    background-color: var(--color-accent);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-link {
    display: inline-block;
    padding: 0.625rem 0;
    margin-left: 8.125rem;
    color: var(--color-text-inverse);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-md);
    text-decoration: none;
}

.header__menu-link:hover {
    text-decoration: underline;
}

@media (max-width: 375px) {
    .header__nav {
        flex-direction: column;
        align-items: center;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5625rem;
    }

    .header__menu-link {
        margin-left: 0;
    }

/* Modifier for hiding the 'Tarifs' link on mobile devices */

    .header__menu-link--hidden-mobile {
        display: none;
    }
}