@import 'base.css';

/* || BLOCKS */

.intro {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 525px;
    margin: auto;
    margin-bottom: 194px;
    color: white;
}


/* || ELEMENTS */

.intro__text {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 46px;
}

.form__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 3.5px;
}

.form__field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__input {
    padding: 15px;
    border-radius: 3px;
    border: none;
}

.form__textarea {
    height: 177px;
    padding: 15px;
    border-radius: 3px;
    border: none;
}

.form__label {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 18px;
    margin-bottom: 10px;
}

.form__subtitle {
    color: #A5B4FC;
    text-align: center;
    font-family: Montserrat;
    font-size: 35px;
    margin-top: 65px;
    margin-bottom: 52px;
}

/* || Modifiers */

.gallery__image--intro {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form__field--message {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.cta__button--form {
    width: 216px;
    height: 65px; 
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    text-transform: uppercase;
    background: linear-gradient(#8e86b5, #acaeed);
    border: none;
    border-radius: 50px;
    padding: 20px 30px;
}

.cta__button--form:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}