.intro { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 1rem;
    gap: 2rem;
    box-sizing: border-box;
}

.intro__container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    max-width: 22rem;
    min-width: 18rem;
    box-sizing: border-box;
}

.intro__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-normal);
    color: var(--color-secondary);
}

.intro__text {
    padding-right: 2rem;
    margin: 1.5rem 0 2rem 0;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-lg);
    color: var(--color-accent);
}

.intro__image-wrapper {
    margin: 1rem;
    max-width: 22rem;
    min-width: 18rem;
}

.intro__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro__title--small {
    display: none;
  }

@media (max-width: 831px) {

    .intro__container-text {
        order: 1;
    }
    .intro__image-wrapper {
        order: -1;
    }
    .intro__title--large {
        display: none;
    }
    .intro__title--small {
        display: block;
    }
}