.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    width: 50vw;
    margin: auto;
    padding: 5rem;
    gap: 9rem;
}

.intro__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-normal);
    color: var(--color-secondary);
}

.intro__text {
    margin: 1.25rem 0 3.125rem 0;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-lg);
    color: var(--color-accent);
}