@import url("header.css");
@import url("headings.css");
@import url("intro.css");
@import url("form.css");
@import url("gallery.css");
@import url("about.css");
@import url("service.css");
@import url("table.css");
@import url("button.css");
@import url("footer.css");

/* || VARIABLES */

:root {

    /* Base colors */
    --color-primary: #1F2039;          /* Dark blue for main background and accents */
    --color-secondary: #A5B4FC;        /* Light blue for interactive elements and highlights */
    --color-text: #FFFFFF;             /* White for text on primary and secondary colors */
    --color-text-inverse: #333333;     /* Dark gray for text on light backgrounds */

    /* Utility colors */
    --color-accent: #F9F8FF;           /* Off-white for subtle accents and UI elements */

    /* Font families */
    --font-family-primary: 'Montserrat', sans-serif;
    --font-family-secondary: 'Manrope', sans-serif;

    /* Font sizes */
    --font-size-xxl: clamp(2.5rem, 3vw, 3.2rem);  /* Extra extra large size for primary headings */
    --font-size-xl: 1.8rem;   /* Extra large size for secondary headings */
    --font-size-lg: 1.25rem;   /* Large size for subheadings */
    --font-size-md: 1.125rem;   /* Medium size for auxiliary text or tertiary headings */
    --font-size-base: 1rem; /* Base size for general content */
    --font-size-sm: 0.875rem;   /* Small size for captions, legal text, or less important text */

    /* Font weights */
    --font-weight-normal: 400;
    --font-weight-bold: 500;

}

/* || RESET */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* || GENERAL STYLES */

.page {
    background-color: var(--color-primary);
}

.main__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-normal);
    color: var(--color-secondary);
}

.main__title-wrapper {
    max-width: 63rem;
    margin: 0 auto;
    text-align: left;
    padding: 5rem;
}