@import 'base.css';

/* || BLOCKS */











/* || ELEMENTS */











/* || Modifiers */

.intro--portfolio {
    max-width: 1008px;
    margin: 0 auto;
    text-align: left;
}

.gallery__container--landscape {
    max-width: 1008px;
    margin: 0 auto;
    padding: 53px 80px;
}

.gallery__subtitle--portrait,
.gallery__subtitle--landscape {
    text-align: left;
    margin-bottom: 53px;
    color: #1F2039;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
}

.gallery__content--landscape {
    display: grid;
    grid-template-columns: 326px 326px 326px;
    grid-template-rows: 311px 311px 311px;
    gap: 15px;
    width: 100%;
}

.gallery__container--portrait {
    max-width: 1008px;
    margin: 0 auto;
    padding: 0px 80px 53px 80px;
}

