.service-options-container {
    display: flex;
    flex-direction: row;
    max-width: 1040px;
    margin: 0 auto;
    gap: 103px;
    margin-bottom: 85px;
}

.service-option {
    width: 278px;
    height: 295px;
    border-right: 1px var(--color-secondary) solid;
    border-bottom: 1px var(--color-secondary) solid;
}

.service-option__category {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    margin-bottom: 21px;
}

.service-option__description {
    color: var(--color-text);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
    line-height: 24px;
    padding-right: 38px;
    margin-bottom: 35px;
}

.service-option__price {
    color: var(--color-secondary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    margin-bottom: 17px;
}

.service-option__details {
    color: var(--color-text);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
}