.table {
    margin-bottom: 23rem;    
}

.table__container {
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 65rem;
}

.table__title-wrapper{
    margin-bottom: 2.5rem;
}

.table__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-normal);
    color: var(--color-secondary);
}

.table__content {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.table__head {
    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    border: 1px solid var(--color-secondary);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table__cell {
    color: var(--color-text);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
    border: 1px solid var(--color-secondary);
    text-align: center;
    height: 9rem;
}

@media (max-width: 420px) {
    .table__head {
        display: none;
    }

    .table__content {
        border: 1px solid var(--color-secondary);
    }

    .table__cell {
        display: grid;
        grid-template-columns: 6rem auto;
        gap: 2rem;
        padding: 0.75rem 1rem;
        height: 100%;
        border: none;
        text-align: left;
    }

    .table__cell:first-child {
        padding-top: 2rem;
    }

    .table__cell:last-child {
        padding-bottom: 2rem;
    }

    .table__cell::before {
        font-weight: 700;
    }

    .table__cell:nth-of-type(1)::before {
        content: "Désignation: ";
    }

    .table__cell:nth-of-type(2)::before {
        content: "Quantité: ";
    }

    .table__cell:nth-of-type(3)::before {
        content: "Prix: ";
    }
}