.info-table__container {
    margin: 0 auto;
    max-width: 1040px;
    margin-bottom: 374px;
}

.info-table__subtitle {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 38px;
}

.info-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.info-table__head {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    border: 1px solid #A5B4FC;
    padding-top: 9px;
    padding-bottom: 13px;
}

.info-table__cell {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 14px;
    border: 1px solid #A5B4FC;
    text-align: center;
    height: 145px;
}