@import 'base.css';

/* || BLOCKS */

.service-container {
    display: flex;
    flex-direction: row;
    max-width: 1040px;
    margin: 0 auto;
    gap: 103px;
    margin-bottom: 85px;
}

.service-block {
    width: 278px;
    height: 295px;
    border-right: 1px #A5B4FC solid;
    border-bottom: 1px #A5B4FC solid;
}

.pricing-table {
    border-collapse: collapse;
}


/* || ELEMENTS */

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1040px;
    margin: 0 auto;
    margin-top: 146px;
    margin-bottom: 112px;
}

.main-title {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 55px;
    font-weight: 400;
}

.service-block__title {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 21px;
}

.service-block__description {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 14px;
    line-height: 24px;
    padding-right: 38px;
    margin-bottom: 35px;
}

.service-block__price {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 16px;
    margin-bottom: 17px;
}

.service-block__details {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 10px;
}

.pricing-table__container {
    margin: 0 auto;
    max-width: 1040px;
    margin-bottom: 374px;
}

.pricing-table__subtitle {
    color: #A5B4FC;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 38px;
}

.pricing-table__head {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    border: 1px solid #A5B4FC;
    padding-top: 9px;
    padding-bottom: 13px;
}

.pricing-table__cell {
    color: #F9F8FF;
    font-family: Manrope;
    font-size: 14px;
    border: 1px solid #A5B4FC;
    text-align: center;
    height: 145px;
}


/* || Modifiers */

.pricing-table__head--col0 {
    width: 278px;
}

.pricing-table__head--col1 {
    width: 381px;
}

.pricing-table__head--col2 {
    width: 381px;
}

.pricing-table__cell--col0row1 {
    padding: 0px 72px 0px 73px;
    text-align: start;
}

.pricing-table__cell--col0row2 {
    padding: 0px 69px 0px 69px;
    text-align: start;
}